.checkout-window{
    display: flex;
    flex-direction: column;
    width: 21.5rem;
    padding: 2rem;
    position: absolute;
    background-color: var(--clr-white);
    top:8rem;
    left:50%;
    transform: translateX(-50%);
    border-radius: var(--border-radius);
    z-index: 21;
}

.checkout-window section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.checkout-window button{
    /* margin-top: 2rem; */
    width: 100%;
}

.checkout-cart,
.remove-all{
    margin-top: 0;
    margin-bottom: 2.2rem;
}

.remove-all{
    text-decoration: underline;
    color: var(--clr-black-transparent);
    transition: var(--button-transition);
}

.remove-all:hover{
    color: var(--clr-accent);
}

.checkout-window *{
    font-weight: 400;
}

.checkout-total{
    font-weight: 400; 
}


.checkout-window-error-message
{
    opacity: 1;
    position: absolute;
    font-weight: 400;
    bottom: 4.6rem;
}

.message-fade-out{
    opacity: 0;
    position: absolute;
    font-weight: 400;
    bottom: 4.6rem;
    transition:opacity var(--error-opacity-transition);
}





@media (min-width:768px){
    .checkout-window{      
        top:8rem;
        left:95%;
        transform: translateX(-100%);
        border-radius: var(--border-radius);
        z-index: 21;
    }
}