.mobile-menu{
    background-color: white;
    z-index: 10000;
    position: absolute;
    top:5.6rem;
    width: 100%;
    padding: 2rem 2rem;
    padding-bottom: 5rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
